@import "~bootstrap/dist/css/bootstrap.min.css";


.notes-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
}

.notes-control{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
}

.emptyNotes{
    margin-top: 200px;
    text-align: center;
}
